.card {
  position: relative;
  border: 1px solid #333;
}

.card .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.1s;
  position: absolute;
  font-size: 10rem;
  padding-left: 3.5rem;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.1s;
}

.card .back {
  transition: all ease-in 0.1s;
  transition-delay: 0.1s;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
